<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<img class="bg_img" alt="">
<div id="product_list_container">
    <div style="width: 70%; margin: auto">
        <input id="search_box" type="text" placeholder="Search">
    </div>
    <div id="product_table">
    </div>
</div>
</body>
<script type="text/javascript" src="../utils/network-helper.js"></script>
<script type="text/javascript" src="../javascripts/index.js"></script>
</html>
