<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<link rel="stylesheet" href="../css/login.css">
<body>
<img class="bg_img" alt="">
<div id="login_container">
    <div class="title">
        SKKU Flea Market
    </div>
    <input id="user_id" type="text" placeholder="ID">
    <input id="user_pw" type="text" placeholder="Password">
    <button id="btn_login" type="submit">LOGIN</button>
</div>
</body>
<script type="text/javascript" src="../utils/validators.js"></script>
<script type="text/javascript" src="../javascripts/login.js"></script>
</html>


