.bg_img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    background-image: url("../assets/images/background_login.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#register_container {
    position: absolute;
    display: block;
    background-color: rgba(255, 255, 255, 0.6);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    min-height: 400px;
    min-width: 600px;
    margin: 0 auto;
    border-radius: 8px;
}

.title {
    display: block;
    text-align: center;
    color: #333;
    font-size: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
#register_container .input_text {
    display: block;
    width: 80%;
    margin: 12px auto auto auto;
    border-radius: 16px;
    border: #efefef 1px;
    padding: 12px 8px;
}

#register_container .duplicate_check {
    display: inline-block;
    width: 15%;
    padding: 8px;
    margin: auto;
}

#register_container button {
    display: block;
    margin: 16px auto auto auto;
    background-color: #6200ee;
    outline: transparent;
    border: transparent;
    border-radius: 16px;
    opacity: 1;
    width: 80%;
    padding: 12px;
    color: white;
}

#register_container button:hover {
    opacity: 0.38;
}

#register_container .checkbox_group {
    align-self: center;
    align-items: center;
    width: 80%;
    padding: 12px;
    margin: auto;
    display: block;
}

#register_container .input_checkbox {
    color: #333333;
    font-size: 14px;
    display: inline-block;
}
